GEOSITE_URL=https://api.github.com/repos/MetaCubeX/meta-rules-dat/contents/geo/geosite?ref=sing
GEOIP_URL=https://api.github.com/repos/MetaCubeX/meta-rules-dat/contents/geo/geoip?ref=sing
GITHUB_TOKEN=
